html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    height: 100%;
    width: 100%;
}
header{
    background-image: url(assets/images/try.jpg);
    padding: 3%;
    
}
h1{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 80px;
    color: white;
    text-decoration: underline wavy crimson;
    
}
#mainPage{
    background-image: url(assets/images/backGround.jpg);
    height: 100%;
    /* display: inline-flexbox; */
    width: 100%;
}
#buttons{
    float: left;
}
button{
    padding: 15px;
    margin-top: 10px;
    width: 150px;
}
#listOfSongs{
    float: left;
}
#videoFrame{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

}
#videoFrame > iframe{
    position: absolute;
    top: 0;
    left: 15%;
    width: 50%;
    height: 50%;
    border: 0;
}
#listSongs{
    margin-left: 15px;
}
div > span {
    position: absolute;
    top: 95%;
    left: 39%;
    color: white;
    font-size: 35px;
}
@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}